body {
  text-align: center;
  font-family: "Happy Monkey", system-ui;
  background: linear-gradient(#a2d2ff, #EFB0C9);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1, h2, h3, h4, p{
    text-shadow: 0px 0px 1px #000000;
}
#bff-img {
  width: 200px;
  border-radius: 50%;
  border: 6px solid #EFB0C9;
  margin-bottom: 10px;
}
#bday-age, #bday-date{
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0px 10px 0px;
}
#header{
      display: flex;
  flex-direction: column;
  align-items: center;
}
.gift-section{
    margin-top: 50px;
}
.gift-title{
    margin-bottom: 10px;
}
.gift-hint{
    margin-top: 0;
}
.gift-image{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    border: 6px solid #ffffff;
    border-radius: 10px;
}
#happy-gift:hover{
    background-image: url("images/happy.gif");
    background-size: cover;
    cursor: pointer;
}
#hot-gift:hover{
    background-image: url("images/hot.gif");
    background-size: cover;
    cursor: pointer;
}
#badass-gift:hover{
    background-image: url("images/badass.gif");
    background-size: cover;
    cursor: pointer;
}
#cheers-gift{
    height: 200px;
}
#cheers-gift:hover{
    background-image: url("images/cheers.gif");
    background-size: cover;
    cursor: pointer;
}
#genius-gift:hover{
    background-image: url("images/genius.gif");
    background-size: cover;
    cursor: pointer;
}
#footer{
    width: 400px;
    margin: 40px auto 20px auto;
    font-size: italic;
}
#footer a{
    color: #ffffff;
}
